@import 'src/styles/variables';
.repo {
    display: inline-block;
    width: 35%;
    height: 150px;
    margin: 20px;
    vertical-align: top;
    border-radius: 5px;
    .repo-content {
        position: relative;
        text-align: left;
        height: 100%;
        .data {
            padding: 20px;
            font-family: Lato, sans-serif;
            .name,
            .description {
                margin: 0 0 10px 0;
            }
            .name {
                display: inline-block;
                padding-bottom: 5px;
            }
            .description {
                color: $gray-color;
                font-size: 14px;
                font-weight: 100;
            }
        }
        .learn-more,
        .info {
            position: absolute;
            bottom: 0px;
        }
        .learn-more {
            right: 10px;
            .fi-link {
                display: none;
            }
        }
        .info {
            left: 10px;
            padding: 10px;
            font-size: 14px;
            .item {
                margin-right: 10px;
            }
            .icon {
                margin-right: 5px;
            }
        }
    }
}

@include mobile-width-breakpoint {
    .repo {
        width: 80%;
        .repo-content {
            text-align: center;
            .link {
                .text {
                    display: none;
                }
                .fi-link {
                    display: inline-block;
                }
            }
        }
    }
}
