@mixin mobile-width-breakpoint {
    @media (max-width: $width-breakpoint) { @content; }
}

@mixin mobile-height-breakpoint {
    @media (max-height: $height-breakpoint) { @content; }
}

@mixin in-desktop {
    @media (min-width: $desktop-breakpoint) { @content; }
}

@mixin not-in-desktop {
    @media (max-width: $desktop-breakpoint - 1) { @content; }
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin common-transition {
    transition: all .5s ease;
}
