@import './variables';
@import './animations.scss';
@import url('https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css');
* {
    box-sizing: border-box;
}

html,
body,
#app,
.view {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Roboto, serif;
    color: $black-color;
    background-color: $soft-white-color;
    z-index: 0;
}

.view {
    position: fixed;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    @include common-transition;
    @include mobile-width-breakpoint {
        display: block;
    }
}

.link {
    transition: color linear .4s;
    color: rgba($orange-color, 0.6);
    text-decoration: none;
    &:hover {
        cursor: pointer;
        color: $orange-color;
        text-decoration: none;
    }
    &:focus,
    &:visited,
    &:active {
        outline: none;
        text-decoration: none;
    }
}

.hover-grow {
    transition: transform ease-in .1s;
    &:hover {
        transform: scale(1.2);
    }
}

.link-hover-grow {
    @extend .link;
    @extend .hover-grow;
    transition: color linear .4s, transform ease-in .1s;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

h1,
h2 {
    font-family: Lato, serif;
    font-weight: bold;
}

p {
    font-size: 16px;
}

.bold {
    font-weight: bold;
}

.btn-secondary {
    padding: 10px;
    font-size: 15px;
}

.icon {
    font-size: 16px;
    margin-right: 10px;
}

.hover-border {
    transition: border .2s ease-in;
    border-bottom: 2px solid rgba($orange-color, .5);
    &:hover {
        border-bottom: 2px solid $orange-color;
    }
}

.card-shadow {
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
}
